[flake8]
filename = *.py
max_line_length = 80
max-doc-length = 80
show-source = True
extend-ignore = E203

exclude =
    build
    .git


per-file-ignores =
    examples/stencil-2d.py: E402
    scripts/code_gen.py: F821
    sharpy/__init__.py: F401, E501
    sharpy/ndarray.py: F401, E501
