[submodule "third_party/bitsery"]
	path = third_party/bitsery
	url = https://github.com/fraillt/bitsery
[submodule "third_party/mlir-extensions"]
	path = third_party/mlir-extensions
	url = https://github.com/intel/mlir-extensions
